@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

:root {
  --background-dark: rgba(0, 0, 0, 0.7);
}

#content {
  height: 100%;
  background: url('./assets/nasi-background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--background-dark);
  height: 150px;
  gap: 10px;
}

.header h1 {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 4rem;
}

.header nav {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  justify-content: center;
}

.header nav li {
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.header nav li::after {
  display: block;
  content: attr(data-text);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header nav li:hover,
.header nav li:focus {
  font-weight: bolder;
}

/* Hero on home */
div.hero {
  margin-inline: auto;
  font-size: 1.3rem;
  border-radius: 12px;
  width: 60%;
  gap: 1rem;
  height: 500px;
  background-color: var(--background-dark);
  color: white;
  margin-top: 2rem;
  padding: 1rem;
  max-width: 741px;
}

div.hero.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero img.gordon {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
}

/* Footer */
.footer {
  background-color: var(--background-dark);
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-block: 8px;
}

/* Menu Page */
.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-item figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
